html {
    font-size: 16px;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:black;
}

.filter{
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
    display: block;
    margin-bottom: 1em;
}

.filter li{
    padding: 10px;
    float:left;
    font-family: 'Roboto';
    font-size: 20px;
    color: black;
}

.filter a{
    text-decoration:none;
    font-family: 'Roboto';
    font-size: 18px;
    color: black;
    width:5%;
}




/*---------------- Product Page ----------------------------------------------------------*/

#product-page-container {
    display: flex;
}
#product-page-image {
    width: 50%;
}

#product-page-image img {
    float: right;
    padding-right: 2em;
    height: 75%;
}

#product-page-description {
    padding-left: 5em;
    
}

#product-page-description h1{
    font-size: 48px;
}

#product-page-description h2{
    font-weight: normal;
    font-size: 24px;
}

#product-page-details {
    margin-bottom: 2em;
}

.size-dropdown {
    margin-top: 2em;
    width: 90%;
    height: 2em;
    text-align: center;
}

.size-dropdown button {
    border: 2px solid grey;
    border-radius: 2px;
    background: none;
    font-size: 24px;
    cursor: pointer;
    width: 350px;
    padding: 0.25em 0;
}

.size-selector {
    position: relative;
    margin-left: 0px;
    float: left;
}

.size-selector ul {
    position: absolute;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start  ;
    list-style: none;
    border: 2px solid grey;
    border-radius: 2px;
}

.size-selector li {
    background-color: white;
    width: 120%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px; 
}

.size-selector li:hover {
    background-color: lightblue;
    cursor: pointer;
}


#add-to-cart-button, #save-item-button {
    margin-top: 1.25em;
    border: 2px solid grey;
    border-radius: 2px;
    background-color: black;
    font-size: 24px;
    padding: 0.25em 0;
    width: 350px;
    color: white;
}

#save-item-button {
    display: block;
    background: white;
    color: black;
    margin-top: 0.75em;
}

/*----------------------------------------------------------------------------------------*/


/* For the In Stock and Saved Items Page*/

.filter-list {
    display: none;
}
#left-side-mobile {
    display: none;
}
.in-stock-item, 
.saved-item {
    width: 16em;
    height: 29em;
    margin: auto 0;
    padding: 1em;
    justify-self: center;
    align-self: center;
}

.in-stock-img,
.saved-item-img{
    height: 80%;
    background-color: black;
    margin-top: 0;
}

.in-stock-img img,
.saved-item img {
    height: 100%;
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.in-stock-text,
.saved-item-text {
    height: 20%;
    vertical-align: bottom;
    margin-top: 0;
}

.in-stock-text p,
.saved-item-text p {
   margin: 0.2em 0.2em;
   text-decoration: none;
    font-family: 'Roboto';
    color: black;
    width:100%;
}

#in-stock-container,
#saved-items-container {
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    
}


#left-side-full {
    max-width: 25em;
    min-width: 20em;
    list-style: none;
    margin-right: auto;
}

#left-side-full li {
    margin: 1em 0 25px 1em;
    cursor: pointer;
}

#in-stock-main,
#saved-items-main {
    display: grid;
    grid: auto / repeat(3, 1fr);
    grid-gap: 40px 25px;
    width: 75%;
}

#saved-items-main {
    width: 85%;
}

.saved-item {
    border: 2px solid grey;
    margin-bottom: 2em;
}

#remove-button {
    margin: 5em 0 0 0.5em;
    color: black;
}

@media screen and (max-width: 975px) { 
    .in-stock-item {
        margin: auto;
    }

    #in-stock-container {
        display: block;
    }

    #left-side-full,
    #in-stock-filter {
        display: none;
    }


    #left-side-mobile {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #left-side-mobile button {
        width: 50%;
        height: 2em;
        border-radius: 0;
        font-size: 20px;
        background: white;
        border: 1px solid black;
    }
    #left-side-mobile button:hover {
        background: lightgrey;
        cursor: pointer;
    }

    #in-stock-main {
        display: block;
        margin: 0 auto;
        align-items: center;
    }
    .break {
        height: 0;
        flex-basis: 100%;
    }
    .in-stock-mobile-lower {
        display: none;
    }

    .in-stock-mobile-lower div {
        margin: 0 1em;
    }

    #mobile-sort h2 {
        margin: 1em 4em;
    }

    #mobile-filter div {
        margin: 1em 2em;
    }


}
/*End of In Stock And Saved Items*/



/*Start of Calendar page*/
.calendar-week {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
    gap: 5px 0; 
    margin: 0 20px 3em 20px;
}

.calendar-day {
    width: 7em;
    height: 7em;
    border: 1px solid black;
    margin: auto;
}

#calendar-header {
    margin-bottom: 0;
}

#calendar-header-day{ 
    margin-bottom: 1em;
    height: 1em;
    text-align: center;
    border: none;
}
#calendar-header-day h2{ 
    font-size: 32px;
    margin-top: 0;
}

#calendar-break {
    margin: 1.2em 20px 1.8em 20px;
}

.calendar-day h1 {
    margin-top: 0;
    padding-left: 0.25em;
    margin-bottom: 0;
}

#has-event {
    background-color: rgb(170, 170, 170);
}

#has-event h2 {
    text-align: center;
    font-size: 14px;
}
#event-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
#event-button button {
    padding: 5px;
    font-size: 10px;
    margin: 0 auto 0 auto;
    background-color: rgb(170, 170, 170);
    color: black;
    border: 2px solid black;
}


/*End of Calendar page*/


/*Start of navigation bar*/

.full-nav{

    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 1em 0 2em 0;
    justify-content: center;
}

#nav-bar-left {
    justify-content: flex-start;
}

#nav-bar-right {
    justify-content: flex-end;
    margin-left: 4%;
}

#logo{
    margin: auto;
    background-position: center;
    max-width: 8em;
    max-height: 4em;
    justify-content: center;
    min-width: 4em;
    min-height: 2em;
}

#logo img {
    width: 100%;
    height: auto;
    margin: 0;
}

.full-nav ul{
    list-style: none;
    /* width: 100%; */
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;

}
.full-nav ul li{
    width: calc(100% / 9);
    list-style-type: none;
    align-items: stretch;
    justify-content: space-between;
    display: inline-block;
    width: auto;
    text-align:center;
    margin-right: 3em;
}
.full-nav ul li a{
    font-family: 'Roboto';
    font-size: 1.5vw;
    font: bolder;
    color: black;
    padding-top: 20px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
}
.full-nav ul li button{
    font-family: 'Roboto';
    font-size: 1.5vw;
    font: bolder;
    color: black;
    padding-top: 20px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}


nav ul li img{
    display: inline-block;
    height: 65px;
    line-height: 65px;
    vertical-align: top;
    align-items: stretch;
    justify-content: space-between;
}
/*End of navigation bar*/




#title h1{
    width:100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';

}

h2{
    font-family: 'Roboto';
    font-size: 16px;
    color: black;
    line-height: 1.6em;
}

h3{
    font-family: 'Roboto';
    font-size: 16px;
    color: black;
    line-height: 1.6em;
}

.container{/*change name to that shaded left side block*/
    background-color: #fcfcfc;
    outline-color: #ccc9c9;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.4em;
    width: 20%;

}

/*
#subfont{
    the tiny font under the brand name(the drop name)
    font-family: 'Roboto';
    font-size: 12px;
    color: black;
    line-height: 1.3em;
}
*/
    

#dates{
/*need to have a diff font size for dates in container*/
    font-family: 'Playfair Display';
    font-size: 19px;
    color: black;
    line-height: 1.3em;
}

#alphabetic-sort {
    text-align: center;
}

/*add an id to the large "some really cool..." if you need to in HTML to change size*/
#alphabetic-sort ul{
    list-style: none;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;

}
#alphabetic-sort li{
    width: calc(90% / 30);
    list-style-type: none;
    display: inline-block;
    text-align:center;
    float: none;
}
#alphabetic-sort li a{
    text-decoration: none;
    display: inline-block;
    font-family: 'Playfair Display';
    font-size: 25px;
    line-height: 1.5em;
    font: normal;
    color: black;
    text-align:center;

}

table{
    width: 100%;
    border-spacing: 60px;
    font-family: Roboto;
    font-size: 18px;
}
.Alphabet {
    font-family: 'Playfair Display';
    font-size: 55px;
    color: black;
  }

hr{
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    text-align:center;
    margin-bottom: 2em; 
}

#footer-left{
    width: 20%;
    float: left;
    padding-top: auto;
    height: 100%;
    margin-top: auto;
    font-family: Roboto;
}

#footer-middle{
    width: 60%;
    float: none;
    font-family: Roboto;
}
#footer-right{
    width: 20%;
    padding-top: auto;
    height: 100%;
    margin-top: auto;
}
#footer-right li{
    list-style-type : none;
    display: block;
    text-align:center;
    float: right;
    padding: 20px;
    font-family: Roboto;
}


#footer-right li a {
    font-family: 'Roboto';
    font-size: 16px;
    font: bolder;
    color: black;
    /* padding-top: 20px; */
    text-align:center;
    text-decoration: none;
    display: inline-block;
}


#sub-btn {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 2px solid #CCC9C9;
}

input {
    width: 40%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0px;
    border: 2px solid #CCC9C9;
}

#follow-icons {
    display: flex;
    justify-content: center;
}

#follow-icons p {
    background-color: black;
    height: 2em;
    width: 2em;
    margin: 0 0.5em;
}

.sidenav{
  height: 200%;
  width: 300;
  position: relative;
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #dae3e3; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top:20px;

}
.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 30px;
  color: #090a0a ;
  text-align: left;
  display: block;
  font-family: 'Playfair Display';
  font-size: 35px;
  line-height: 1.3em;
}
.sidenav a:hover {
  color: #5d735f;
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 700px) {
    .full-nav {
        display: none;
    }
    .dropdown {
        float: left;
        overflow: hidden;
    }
    .mobile-nav {
        width: 100%;
        margin: 0px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        padding: 1em 2em 2em 2em;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-nav a {
        float: left;
        font-size: 20px;
        text-align: center;
        padding: 14px, 16px;
        text-decoration: none;
    }
    #mobile-logo {
        justify-content: center;
        width: 125px;
        height: 75px;
    }
    .dropbtn {
        justify-content: flex-start;
        cursor: pointer;
        font-size: 20px;
        border: none;
        outline: none;
        color: black;
        padding: 14px, 16px;
        font-family: inherit;
        background-color: inherit;
    }

    .cartbtn {
        font-size: 20px;
        cursor: pointer;
        font-size: 20px;
        border: none;
        outline: none;
        color: black;
        padding: 14px, 16px;
        font-family: inherit;
        background-color: inherit;
        justify-content: flex-end;
    }

    .dropdown-content {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #FCFCFC;
        min-width: 200px;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
        z-index: 1;
      }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        border-bottom-style: solid;
        border-bottom-color: #CCC9C9;
        border-bottom-width: 1px;

      }
      .show {
          display: flex;
      }
    
}

/* --------------------MY NEW STUFF-Jaimie-----------------------------------------------------------*/
#Content{
    width: 100%;
}

hr{
    width:96%;
}

#Items{
    list-style-type: none;
    display: block;
    float: left;
    padding-right: 50px;
    width: 55%;
    padding-left: 4%;
}
#Items h3{
    padding: 0px;
    margin:0px;
    font-weight: normal;
}
#Items h4{
    padding: 0px;
    margin:0px;
    font-weight: normal;
}
#Items a{
    text-decoration: none;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 13px;
    float: right;
    color:black;
}

#Items hr{
    width: 105%;
    margin-left: -1%;
}

#Items img{
    width: 16%;
    display: block;
    float: left;
    height: auto;
    padding-left: 1%;
    padding-right: 30px;
}
#OrderSummary{
    list-style-type: none;
    display: block;
    float: right;
    width: 27%;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid silver;
    border-spacing: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: fixed; 
    top: 100px; 
    left: 67%; 
    z-index : 1;
}


#Checkout {
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: black;
    text-align: center;

}
a{
    text-decoration:  none;
}


#SameLine{
    width: 35%;
    display: block;
    float:left;
}

#Price{
    width: 60%;
    font-size: 25px;
}

#subSummary{
    width: 50%;
    float: left;
    font-weight: normal;
    font-size: 19px;
}



#Total{
    width: 50%;
    float: left;
    font-size: 22px;
}

/*Claudia's additions for homepage*/
.sidenav{
    height: 670px;
    width: 20%;
    border-style: solid;
    border-width: 3px;
    border-color: #cfcfcf;
    position: relative;
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ebebeb; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top:3px;

  }
.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 30px;
  color: #090a0a ;
  text-align: left;
  display: block;
  font-family: 'Playfair Display';
  font-size: 35px;
  line-height: 1.3em;
}
.sidenav a:hover {
  color: #717d6d;
}

.mainColumn{
    height: 100%;
    width: 100%;
    display: flex;
    border-color: white ;
    border-width: 1%;
    /* margin-left: 50px; */
    padding-left: 5%;  
    /*justify-content: center; */
}

.flex-container{
    display: flex;
    flex-direction: row;
    margin: 1px;
    /*justify-content: center; XX */
    
    
}
.flex-containerB{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.shopNow{
    background-color:#ebebeb;
    /* margin-top: 5px; */
    margin-left: 40px;
    margin-right: 40px;
    align-content: center;
}

.grid-container{
    display: grid;
    grid-row-gap: 10px;
    /* grid-column-gap: 10px; */
    padding: 1px;
    }
/*this may affect all links*/
a{
    text-decoration: none;
}
img{
    padding-left: 10px;
    padding-bottom: 10x;
    margin: 15px;
}


.inStockContainers{
    height: 230px;
    width: 200px;
    border: #DFDFDF;
    border-style: solid;
    margin: 35px;
    position: relative;
    text-align: center;
}

#typePrice{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}
#opacity{
    opacity: 0.5;
}
#instock{
    font-family: Roboto;
    font-size: 45px;
    font-weight: 300;
    color: black;
    line-height: 1.6em;
    text-align: left;
    margin-left: 20px;

  }
  #inStockSmall{
      font-family: Roboto;
      font-size: 20px;
      font-weight: 350;
      color: black;
      text-align: center;

}
#brandName{
    /*brand name in side nav*/
    font-family: Roboto;
    font-size: 18px;
    color: black;
    padding-left: 50 px;


  }
  #subfont{
      /*the tiny font under the brand name(the drop name)*/
      font-family: Roboto;
      font-size: 12px;
      font-weight: 300;
      color: black;
      padding-left: 2px;
  }
  #headline{
      /*the headline on the front page8*/
      font-family: Roboto;
      
      font-size: 46px;
      color: black;

  }
  #subheadline{
    font-family: Roboto;
    font-size: 23px;
    font-weight: 300;
    color: rgb(31, 28, 28);
    /*padding-left: 50 px;*/

  }
  #credit{
      font-family: Roboto;
      font-size: 12px;
      text-align: left;

  }
  #releases{
    font-family: Roboto;
    font-size: 23px;
    color: black;
    line-height: 1.6em;
    text-align: center;
    padding-top: 1px;
    
  }
  #releasesLeft{
    font-family: Roboto;
    font-size: 23px;
    color: black;
    line-height: 1.6em;
    text-align: left;
    padding-top: 1px;
    
  }
  .FAQaccordian {
    background-color: rgb(180, 180, 180);
    color: black;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    transition: 0.6s;
    font-family: Roboto;
    border: none;
    outline: none;
    
  }
  .active, .FAQaccordian:hover{
    background-color: grey;

  }
  .showFAQ{
      padding: 0 15px;
      background-color: white;
      overflow: hidden;
      display: none;
      font-family: Roboto;
      font-weight: 300;
      font-size: 17px;
  }
  #aboutPageHeader{
    font-family: Roboto;
    text-align: left;
    font-weight: lighter;
    font-size: 60px;
    text-align: left;
    margin-left: 30px;
}
#normalText{
    font-family: Roboto;
    text-align: left;
    font-weight: lighter;
    font-size: 35px;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    text-justify: newspaper;

}
.pmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-left: 550px;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content */
  .pmodal-content {
    height: 400px;
    background-color: #fefefe;
    /* margin: auto; */
    padding: 25px; 
    border: 1px solid #888;
    width: 40%;
    text-align: center;
  }
  
  /* The Close Button */
  .pclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .pclose:hover,
  .pclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.aboutContainer{
    background-color: lightgrey;
    margin: 500px;

}
  .headlinePic{
    margin-left: 40px;
  }
  .pictureContainers{
    /* border: #DFDFDF; */
    /* margin: 10px; */
    position: relative;
    text-align: center;
    /* display: grid; */
    /* justify-content: center; */
}
.previous{
    
    color: rgb(117, 117, 117);
    font-size: 75px;
    margin-top: 97px;
}
.next{
    
    color: rgb(117, 117, 117);
    font-size: 75px;
    margin-top: 97px;
}
.round{
    border-radius: 50%;    
}
.sidebarcontainers{
    margin: 2px;
    position: relative;
    text-align:center;
    
    /*opacity: 0.5; */

}
/* molly's css for Cherry LA*/
#BrandProduct img {
    height: 50%;
    width: auto; 
    padding-right: 20;
    padding-left: 20;

}

#text li {
    list-style-type:none;
}
.text {
    font-family:Roboto;
    font-weight:300;
    font-size: 18px;
}
#title2 h1{
    width:100%;
    display: flex;
    justify-content: left;
    margin: 30px;
    font-family: Roboto;
}
#drop1{
    width:100%;
}
.captionContainer{
    margin:20px;
    position: relative;
    text-align: center;
}
/*Specifics for Jaimie's Sign-In Page CSS!*/
.SignInContent{
    width:100%;
    text-align: center;
}
#SubfontSignIn{
    font-size: 14px;
    font-weight: normal;
    width:100%;
    text-align:left; 
    margin-left: 30%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.SignInContent input{
    margin-top:0px;
    padding-left:8px;
    /*padding-top: 0px;*/
    
}

.SignInContent button{
    width: 40%;
    font-size: 18px;
    color: white;
    background-color: black;
    padding-top: .2%;
    padding-bottom: .2%;
    outline-color: black;
    margin-top: 3%;
    margin-bottom: 4%;
}
/* ------------------------------- MOLLY LOGIN DROP DOWN ------------------------ */

form {
    border: 1px solid #f1f1f1;
}
/* large input fields */
.logincontainer h1 {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    font-family: 'Roboto';
    font-weight: bolder;
}
.logincontainer input[type=Email], .logincontainer input[type=password] {
    width: 100%;
    padding: 12px 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

/* modal (background) */
.modal {
    display: none; /*didn't change this*/
    position: fixed; 
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    font-family: 'Roboto';
}
/* content box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    border: 1px solid #888; 
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 65%;
}

#loginbtn {
    padding: 10px 18px;
    font-family: 'Roboto';
    height: 25px;
    text-align: center;
    margin-top: 15px;
    width: 91%;
}
/* style for buttons */
.loginbutton {
    background-color: black;
    font-family: 'Roboto';
    font-size: 1.5vw;
    font: bolder;
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width:100%;
    cursor: pointer;
}
.loginbutton:hover {
    opacity: 0.8;
}
/* style for profile nav button */
.navbtn button{
    background-color: white;
    border: none;
    width: 100%;
}
.modalbtn{
    background-color: white;
    border: none;
    width: 100%;
    color: black;
    }
/* style for cancel button */
#cancelbtn button{
    width: 80%;
    padding: 10px 18px;
    font-family: 'Roboto';
}
/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: block;
    /* right: 25px; */
    /* top: 0; */
    margin-bottom: 0px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: gray;
    cursor: pointer;
  }

.logincontainer {
    padding: 10px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.psw {
    float: right;
    vertical-align: bottom;
}


/* zoom animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* span and cancel for small screen */
@media screen and (max-width:300px){
    span.psw{
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
/* Molly drop page------------ */
#drop-main {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#drop-container {
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    
}
.drop-item {
    width: 16em;
    height: 29em;
    margin: auto 0 auto 25px;
    padding: 1em;
}

.drop img {
    height: 100%;
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.drop-text {
    height: 20%;
    vertical-align: bottom;
    margin-top: 0;
}

.drop-text p {
   margin: 0.2em 0.2em;
   text-decoration: none;
    font-family: 'Roboto';
    color: black;
    width:100%;
}
/* vertical rule */
.vr {
    border-left: 3px solid black;
    height: 180px;
  }

/*Profile Page Specifics-Jaimie*/
#ProfileSpecs{
    font-family: 'Playfair Display';
    font-size: 27px;
    font-weight: normal;
    margin-left: 15%;
}
#ProfileList{
    width:20%;
    float: left;
    margin-right: 3%;
    margin-left: 15%;
    font-family: 'Roboto';
    font-weight: 300;
}

#ProfileLogIn {
    padding-left: 0px;
    margin-left: 0px;
}
#ProfileLogIn button{
    width: 40%;
    font-size: 18px;
    color: white;
    background-color: black;
    padding-top: .2%;
    padding-bottom: .2%;
    outline-color: black;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 38%;
}
#ProfileLogIn p{
    margin-bottom: 3px; 
    font-family: 'Roboto';
    font-weight: 300;
    margin-top: 2.5%;
    font-size: 15px;
}
#ProfileLogIn input{
    margin-top: 0px;
}
#ProfilePageHR{
    margin-left:15%;
    width:65%;
}

#BrandInfo{
    border: none;
    background-color: white;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left:0px;
    padding-left:0px;
    text-align: left;
}

/* Drops drop down */
.dropbtn {
    background-color:white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: black}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}