html {
    font-size: 16px;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.filter{
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
    display: block;
    margin-bottom: 1em;
}

.filter li{
    padding: 10px;
    float:left;
    font-family: 'Roboto';
    font-size: 20px;
    color: black;
}

.filter a{
    text-decoration:none;
    font-family: 'Roboto';
    font-size: 18px;
    color: black;
    width:5%;
}




/*---------------- Product Page ----------------------------------------------------------*/

#product-page-container {
    display: flex;
}
#product-page-image {
    width: 50%;
}

#product-page-image img {
    float: right;
    padding-right: 2em;
    height: 75%;
}

#product-page-description {
    padding-left: 5em;
    
}

#product-page-description h1{
    font-size: 48px;
}

#product-page-description h2{
    font-weight: normal;
    font-size: 24px;
}

#product-page-details {
    margin-bottom: 2em;
}

.size-dropdown {
    margin-top: 2em;
    width: 90%;
    height: 2em;
    text-align: center;
}

.size-dropdown button {
    border: 2px solid grey;
    border-radius: 2px;
    background: none;
    font-size: 24px;
    cursor: pointer;
    width: 350px;
    padding: 0.25em 0;
}

.size-selector {
    position: relative;
}

.size-selector ul {
    position: absolute;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start  ;
    list-style: none;
    border: 2px solid grey;
    border-radius: 2px;
}

.size-selector li {
    background-color: white;
    width: 120%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px; 
}

.size-selector li:hover {
    background-color: lightblue;
    cursor: pointer;
}


#add-to-cart-button, #save-item-button {
    margin-top: 1.25em;
    border: 2px solid grey;
    border-radius: 2px;
    background-color: black;
    font-size: 24px;
    padding: 0.25em 0;
    width: 350px;
    color: white;
}

#save-item-button {
    display: block;
    background: white;
    color: black;
    margin-top: 0.75em;
}

/*----------------------------------------------------------------------------------------*/





/* For the In Stock Page*/
.in-stock-item {
    width: 16em;
    height: 29em;
    margin: 1.5em 1.5em 5em 1.5em;
}

.in-stock-text p {
    text-decoration: none;
    font-family: 'Roboto';
    color: black;
    width:100%;
}

.in-stock-img {
    height: 80%;
    background-color: black;
    margin-top: 0;
}

.in-stock-img img {
    height: 100%;
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.in-stock-text {
    height: 20%;
    vertical-align: bottom;
    margin-top: 0;
}

.in-stock-text p {
   margin: 0.2em 0.2em;
}

#in-stock-container,
#saved-items-container {
    margin-top: auto;
    display: flex;
    
}

#left-side {
    max-width: 25em;
    min-width: 20em;
    list-style: none;
}

#left-side li {
    margin: 1em 0 25px 1em;
}

#in-stock-main {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
/*End of In Stock*/


/*----------------Saved Items------------------------------------*/

#saved-items-container {
    width: 80%;
    margin: auto;
}

.saved-item img {
    height: 15em;
    margin: 0.25em 2em 0 1.25em;
}

.saved-item {
    border: 2px solid grey;
}

.saved-item a {
    margin-left: 0.25em;
}

.saved-item h2{
    margin: 0 0 0 1.75em;
}

.saved-item p{
    margin: 0 0 0 2em;
    padding: 0;
    font-size: 14px;
}

/*---------------------------------------------------------------*/



/*Start of Calendar page*/
.calendar-week {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
    gap: 5px 0; 
    margin: 0 20px 3em 20px;
}

.calendar-day {
    width: 7em;
    height: 7em;
    border: 1px solid black;
    margin: auto;
}

#calendar-header {
    margin-bottom: 0;
}

#calendar-header-day{ 
    font-size: 24px;
    height: 1em;
    text-align: center;
    border: none;
}
#calendar-header-day h2{ 
    font-size: 32px;
    margin-top: 0;
}

#calendar-break {
    margin: 1.2em 20px 1.8em 20px;
}

.calendar-day h1 {
    margin-top: 0;
    padding-left: 0.25em;
    margin-bottom: 0;
}

#has-event {
    background-color: rgb(170, 170, 170);
}

#has-event h2 {
    text-align: center;
    font-size: 14px;
}
#event-button {
    width: 100%;
    display: flex;
}
#event-button button {
    padding: 5px;
    font-size: 10px;
    margin: 0 auto 0 auto;
    background-color: rgb(170, 170, 170);
    color: black;
    border: 2px solid black;
}


/*End of Calendar page*/


/*Start of navigation bar*/

.full-nav{

    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 1em 0 2em 0;
    justify-content: center;
}

#nav-bar-left {
    justify-content: flex-start;
}

#nav-bar-right {
    justify-content: flex-end;
    margin-left: 4%;
}

#logo{
    margin: auto;
    background-position: center;
    max-width: 8em;
    max-height: 4em;
    justify-content: center;
    min-width: 4em;
    min-height: 2em;
}

#logo img {
    width: 100%;
    height: auto;
    margin: 0;
}

.full-nav ul{
    list-style: none;
    /* width: 100%; */
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;

}
.full-nav ul li{
    width: calc(100% / 9);
    list-style-type: none;
    align-items: stretch;
    justify-content: space-between;
    display: inline-block;
    width: auto;
    text-align:center;
    margin-right: 3em;
}
.full-nav ul li a{
    font-family: 'Roboto';
    font-size: 1.5vw;
    font: bolder;
    color: black;
    padding-top: 20px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
}


nav ul li img{
    display: inline-block;
    height: 65px;
    line-height: 65px;
    vertical-align: top;
    align-items: stretch;
    justify-content: space-between;
}
/*End of navigation bar*/




#title h1{
    width:100%;
    display: flex;
    justify-content: center;

}

h2{
    font-family: 'Roboto';
    font-size: 16px;
    color: black;
    line-height: 1.6em;
}

h3{
    font-family: 'Roboto';
    font-size: 16px;
    color: black;
    line-height: 1.6em;
}

.container{/*change name to that shaded left side block*/
    background-color: #fcfcfc;
    outline-color: #ccc9c9;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.4em;
    width: 20%;

}
/*
#subfont{
    the tiny font under the brand name(the drop name)
    font-family: 'Roboto';
    font-size: 12px;
    color: black;
    line-height: 1.3em;
}
*/
    

#dates{
/*need to have a diff font size for dates in container*/
    font-family: 'Playfair Display';
    font-size: 19px;
    color: black;
    line-height: 1.3em;
}

#alphabetic-sort {
    text-align: center;
}

/*add an id to the large "some really cool..." if you need to in HTML to change size*/
#alphabetic-sort ul{
    list-style: none;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;

}
#alphabetic-sort li{
    width: calc(90% / 30);
    list-style-type: none;
    display: inline-block;
    text-align:center;
    float: none;
}
#alphabetic-sort li a{
    text-decoration: none;
    display: inline-block;
    font-family: 'Playfair Display';
    font-size: 25px;
    line-height: 1.5em;
    font: normal;
    color: black;
    text-align:center;

}

table{
    width: 100%;
    border-spacing: 60px;
    font-family: Roboto;
    font-size: 18px;
}
.Alphabet {
    font-family: 'Playfair Display';
    font-size: 55px;
    color: black;
  }

hr{
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    text-align:center;
    margin-bottom: 2em; 
}

#footer-left{
    width: 20%;
    float: left;
    padding-top: auto;
    height: 100%;
    margin-top: auto;
}

#footer-middle{
    width: 60%;
    float: none;
}
#footer-right{
    width: 20%;
    padding-top: auto;
    height: 100%;
    margin-top: auto;
}
#footer-right li{
    list-style-type : none;
    display: block;
    text-align:center;
    float: right;
    padding: 20px
}


#footer-right li a {
    font-family: 'Roboto';
    font-size: 16px;
    font: bolder;
    color: black;
    padding-top: 20px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
}


#sub-btn {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 2px solid #CCC9C9;
}

input {
    width: 40%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0px;
    border: 2px solid #CCC9C9;
}

#follow-icons {
    display: flex;
    justify-content: center;
}

#follow-icons p {
    background-color: black;
    height: 2em;
    width: 2em;
    margin: 0 0.5em;
}

.sidenav{
  height: 200%;
  width: 300;
  position: relative;
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #dae3e3; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top:20px;

}
.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 30px;
  color: #090a0a ;
  text-align: left;
  display: block;
  font-family: 'Playfair Display';
  font-size: 35px;
  line-height: 1.3em;
}
.sidenav a:hover {
  color: #5d735f;
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 700px) {
    .full-nav {
        display: none;
    }
    .dropdown {
        float: left;
        overflow: hidden;
    }
    .mobile-nav {
        width: 100%;
        margin: 0px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        padding: 1em 2em 2em 2em;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-nav a {
        float: left;
        font-size: 20px;
        text-align: center;
        padding: 14px, 16px;
        text-decoration: none;
    }
    #mobile-logo {
        justify-content: center;
        width: 125px;
        height: 75px;
    }
    .dropbtn {
        justify-content: flex-start;
        cursor: pointer;
        font-size: 20px;
        border: none;
        outline: none;
        color: black;
        padding: 14px, 16px;
        font-family: inherit;
        background-color: inherit;
    }

    .cartbtn {
        font-size: 20px;
        cursor: pointer;
        font-size: 20px;
        border: none;
        outline: none;
        color: black;
        padding: 14px, 16px;
        font-family: inherit;
        background-color: inherit;
        justify-content: flex-end;
    }

    .dropdown-content {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #FCFCFC;
        min-width: 200px;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
        z-index: 1;
      }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        border-bottom-style: solid;
        border-bottom-color: #CCC9C9;
        border-bottom-width: 1px;

      }
      .show {
          display: flex;
      }
    
}

/* --------------------MY NEW STUFF-----------------------------------------------------------*/
#Content{
    width: 100%;
}
hr{
    width:96%;
}

#Items{
    list-style-type: none;
    display: block;
    float: left;
    padding-right: 50px;
    width: 55%;
    padding-left: 4%;
}
#Items h3{
    padding: 0px;
    margin:0px;
    font-weight: normal;
}
#Items h4{
    padding: 0px;
    margin:0px;
    font-weight: normal;
}
#Items a{
    text-decoration: none;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 13px;
    float: right;
    color:black;
}

#Items hr{
    width: 105%;
    margin-left: -1%;
}

#Items img{
    width: 16%;
    display: block;
    float: left;
    height: auto;
    padding-left: 1%;
    padding-right: 30px;
}
#OrderSummary{
    list-style-type: none;
    display: block;
    float: right;
    width: 27%;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid silver;
    border-spacing: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: fixed; 
    top: 100px; 
    left: 67%; 
    z-index : 1;
}


#Checkout {
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: black;
    text-align: center;

}
a{
    text-decoration:  none;
}

#SameLine{
    width: 35%;
    display: block;
    float:left;
}

#Price{
    width: 60%;
    font-size: 25px;
}

#subSummary{
    width: 50%;
    float: left;
    font-weight: normal;
    font-size: 19px;
}



#Total{
    width: 50%;
    float: left;
    font-size: 22px;
}

/*Claudia's additions for homepage*/
.sidenav{
    height: 100%;
    width: 20%;
    border-style: solid;
    border-width: 3px;
    border-color: #cfcfcf;
    position: relative;
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ebebeb; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top:3px;

  }
.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 30px;
  color: #090a0a ;
  text-align: left;
  display: block;
  font-family: 'Playfair Display';
  font-size: 35px;
  line-height: 1.3em;
}
.sidenav a:hover {
  color: #717d6d;
}

.mainColumn{
    height: 100%;
    width: 75%;
    display: flex;
    border-color: white ;
    border-width: 3px;
    margin-left: 40px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.grid-container{
    display: grid;
    grid-row-gap: 20px;
    /* grid-column-gap: 10px; */
    padding: 1px;
    }
/*this may affect all links*/
a{
    text-decoration: none;
}
img{
    padding-left: 10px;
    padding-bottom: 10x;
    margin: 15px;
}

.inStockContainers{
    height: 230px;
    width: 200px;
    border: #DFDFDF;
    border-style: solid;
    margin: 35px;
    position: relative;
    text-align: center;



}

#typePrice{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

#instock{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: black;
    line-height: 1.6em;
    text-align: left;

  }
  #inStockSmall{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: bold;
      color: black;
      text-align: left;

}
#brandName{
    /*brand name in side nav*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
    padding-left: 50 px;


  }
  #subfont{
      /*the tiny font under the brand name(the drop name)*/
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: bold;
      color: black;
      padding-left: 2px;
  }
  #headline{
      /*the headline on the front page8*/
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 45px;
      color: black;

  }
  #subheadline{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: grey;
    /*padding-left: 50 px;*/

  }
  #credit{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      text-align: right;

  }
  #secondh4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: black;
    line-height: 1.6em;
    text-align: center;
    padding-top: 1px;
    font-weight: bold;
  }
  .pictureContainers{
    border: #DFDFDF;
    margin: 20px;
    position: relative;
    text-align: center;
}
.sidebarcontainers{
    margin: 2px;
    position: relative;
    text-align:center;

}
/* molly's css for Cherry LA*/
#BrandProduct img {
    height: 50%;
    width: auto; 
    padding-right: 20;
    padding-left: 20;

}
#text li {
    list-style-type:none;
}
#title2 h1{
    width:100%;
    display: flex;
    justify-content: left;
    margin: 30px;
}
.captionContainer{
    margin:20px;
    position: relative;
    text-align: center;
}



 

